<div class="mainSection">
	<h1>Create and Share Stories</h1>
  <button><%= link_to 'Learn more', about_path %></button>
</div>
<div class="supSection">
  <h1>Relive and share your adventures</h1>
</div>
<div class="secSection">
  <%= image_tag "image1.jpg" %>
</div>
<div class="disSection">
  <h1>Discover Stories</h1>
  <button><%= link_to 'Learn more', about_path %></button>
</div>