<header>
  <div>
    <a id="menuIcon" href="#">menuIcon</a>
  </div>
  <div id="sideMenu">
    <nav id="nav">
      <ul>
        <li>Home</li>
        <li>About</li>
      </ul>
    </nav>
  </div>
</header>
<div class="mainSection">
	<h1>Create and Share Stories</div>
  <button>Learn more</button>
</div>
<div class="supSection">
  <h1>Relive and share your adventures</h1>
</div>
<div class="secSection">
  <%= image_tag "image1.jpg" %>
</div>
<div class="disSection">
  <h1>Discover Stories</h1>
  <button>Learn more</button>
</div>
<footer>A shutterbug project</footer>